{% extends 'base.html' %}

{% block title %}
    <title>Edit Task - Task Mate</title>
{% endblock title %}


{% block content %}
    <div class="container mt-4">
    </br>

    {% if task_obj.manage == request.user %}
        <form method="POST" class="row g-3">
            {% csrf_token %}
            <div class="col-lg-2">
                <label></label>
            </div>
            <div class="col-lg-6">
                <input type="text" class="form-control" name="task" placeholder="{{ task_obj.task }}" value = "{{ task_obj.task }}">
            </div>
                <div class="col-lg-6">
                <input type="hidden" name="done"  value = "{{ task_obj.done }}">
            </div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-primary">Update Task</button>
            </div>
        </form>
    {% else %}
        <p3>You are not authorized to edit this task.</p3>
    {% endif %}


    </div>
{% endblock content %}