{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    <title>register - Task Mate</title>
{% endblock title %}

{% block content %}
    <div class="container mt-4">
    </br>
        <h2 class="text-center">Register on Task Mate</h2>
        {% if messages %}   
            {% for message in messages %}
                <div class="alert alert-primary alert-dismissible fade show"" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {{ message }}
            {% endfor %}
        {% endif %}
    
        <form method="POST" class="w-50 mx-auto mt-5">
            {% csrf_token %}
            {{ register_form|crispy }}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    <div>
{% endblock content %}