{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Index - Task Mate</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class = "row mt-5">
            <div class="col-lg-4">
                <img src="{% static 'images/stickynotes.jpg' %}" alt="Notes" class="rounded-lg shadow" width="300" height="300">
            </div>
            <div class="col-lg-4">
               <img src="{% static 'images/stickynotes.jpg' %}" alt="Notes" class="rounded-lg shadow" width="300" height="300">
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/stickynotes.jpg' %}" alt="Notes" class="rounded-lg shadow" width="300" height="300"> 
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <h1>Welcome to Task Mate</h1>
                <p class="lead">Your ultimate task management solution!</p> 

                <a href="{% url 'todolist' %}" class="btn btn-primary btn-lg mt-3 shadow-sm">Go to Todo List</a>
            </div>
        </div>
    </div>
{% endblock content %}